<%= render 'navigation' %>
<div class="container">
  <section class="header">
    <img src="<%= image_path('main.png') %>" alt="Main Phoyo" class="header__item header__photo">
    <div class="header__item header__info">
      <h1 class="header__item header__head">Buy One, Give Vision</h1>
      <p class="header__item header__text">In givingthe gift of sight, you're not only helping someone to see again, you're helping to <span class="header__text--bold"> build stronger communities.</span></p>
      <div class="header__item header__logo">
        <%= render 'waldo-logo-white' %>
        <span class="header__x"> X </span>
        <%= render 'sightsavers' %>
      </div>
    </section>
  </div>

  <section class="photo-slide">
    <p class="photo-slide__text">We've partnered with <span class="photo-slide__text--bold">Sightsavers</span> to further pursue our mission of ending avoidable blindness and championing positive vision.</p>
    <div class="photo-slide__images">
      <img src="<%= image_path('image-1.png') %>" alt="Photo" class="photo-slide__item">
      <img src="<%= image_path('image-2.png') %>" alt="Photo" class="photo-slide__item">
      <img src="<%= image_path('image-3.png') %>" alt="Photo" class="photo-slide__item">
      <img src="<%= image_path('image-4.png') %>" alt="Photo" class="photo-slide__item">
      <img src="<%= image_path('image-5.png') %>" alt="Photo" class="photo-slide__item">
      <img src="<%= image_path('image-6.png') %>" alt="Photo" class="photo-slide__item">
    </div>
    <p class="photo-slide__text">Your WALDO purchase will fund life-changing sight correcting procedures for those living with vision-related disabilities.</p>
  </section>
</div>
