<%= render 'navigation' %>
<div class="container">

 <section class="header">
  <img src="<%= image_path('main.png') %>" alt="Main Phoyo" class="header__item header__photo">
  <div class="header__item header__info">
    <h1 class="header__item header__head">Buy One, Give Vision</h1>
    <p class="header__item header__text">In givingthe gift of sight, you're not only helping someone to see again, you're helping to <span class="header__text--bold"> build stronger communities.</span></p>
    <div class="header__item header__logo">
      <%= render 'waldo-logo-white' %>
      <span class="header__x"> X </span>
      <%= render 'sightsavers' %>
    </div>
  </div>
</section>

<section class="photo-slide">
 <div class="photo-slide__container">
  <p class="photo-slide__text">We've partnered with <span class="photo-slide__text--bold">Sightsavers</span> to further pursue our mission of ending avoidable blindness and championing positive vision.</p>
  <div class="photo-slide__images photo-slide__animation">
    <img src="<%= image_path('image-1.png') %>" alt="Photo" class="photo-slide__image image-1">
    <img src="<%= image_path('image-2.png') %>" alt="Photo" class="photo-slide__image image-2">
    <img src="<%= image_path('image-3.png') %>" alt="Photo" class="photo-slide__image image-3">
    <img src="<%= image_path('image-4.png') %>" alt="Photo" class="photo-slide__image image-4">
    <img src="<%= image_path('image-5.png') %>" alt="Photo" class="photo-slide__image image-5">
    <img src="<%= image_path('image-6.png') %>" alt="Photo" class="photo-slide__image image-6">
  </div>
  <p class="photo-slide__text">Your WALDO purchase will fund life-changing sight correcting procedures for those living with vision-related disabilities.</p>
</div>
</section>

<section class="cards">

  <div class="card">
    <div class="card__info-top">
      <h1 class="card__header">Daily Contact Lenses</h1>
      <p class="card__parag">By enrolling onto one of our contract lens subscription plans, with each year that you're with us, you'll be providing a much-needed cataract surgery to an individual who would otherwise be at risk of blindness.</p>
      <div class="card__dropbox">
        <p class="card__dropbox--p">What are cataracts?
          <span><i class="fas fa-chevron-down margin-left"></i></span></p>
        </div>
      </div>

      <div class="card__info-bottom">
        <div class="card__icons">
          <span class="card__icons--item">
            <%= render 'daily-contact-lenses-1' %>
            <p class="card__parag-sm">Contact lens sunscription plan</p>
          </span>
          <span class="card__icons--border">
            <span class="border">............</span>
            <i class="arrow fas fa-caret-right"></i>
          </span>
          <span class="card__icons--item">
            <%= render 'daily-contact-lenses-2' %>
            <p class="card__parag-sm">Cataract surgery</p>
          </span>
        </div>
        <a href="#" class="btn btn-outline">Get Started</a>
      </div>

    </div>

    <div class="card">

      <div class="card__info-top">
        <h1 class="card__header">Blue Light Glasses</h1>
        <p class="card__parag">We'll fund the cost of a pair of prescription glasses to someone in need for every pair for glasses sold.</p>
      </div>

      <div class="card__info-bottom">
        <div class="card__icons">
          <span class="card__icons--item">
            <%= render 'blue-light-glasses' %>
            <p class="card__parag-sm">Each Blue Light Glasses purchase</p>
          </span>
          <span class="card__icons--border">
            <span class="border">............</span>
            <i class="arrow fas fa-caret-right"></i>
          </span>
          <span class="card__icons--item">
            <%= render 'prescription-glasses' %>
            <p class="card__parag-sm">Prescription Glasses</p>
          </span>
        </div>
        <a href="#" class="btn btn-outline">Browse Frames</a>
      </div>

    </div>

    <div class="card">

      <div class="card__info-top">
        <h1 class="card__header">Hydration Drops</h1>
        <p class="card__parag">We'll deliver a sight-saving trachoma tretment to somebody in need, with every purchase of our Hydration Drops.</p>
        <div class="card__dropbox">
          <p class="card__dropbox--p">What is trachoma?
            <span><i class="fas fa-chevron-down margin-left"></i></span></p>
          </div>
        </div>

        <div class="card__info-bottom">
          <div class="card__icons">
            <span class="card__icons--item">
              <%= render 'hydration-drop' %>
              <p class="card__parag-sm">Each Hydration Drop purchase</p>
            </span>
            <span class="card__icons--border">
              <span class="border">............</span>
              <i class="arrow fas fa-caret-right"></i>
            </span>
            <span class="card__icons--item">
              <%= render 'trachoma' %>
              <p class="card__parag-sm">Trachoma treatment</p>
            </span>
          </div>
          <a href="#" class="btn btn-outline">Get Started</a>
        </div>

      </div>
    </section>
  </div>
