<%= render 'navigation' %>
<div class="container">

  <section class="head-section">
   <div class="header">
    <img src="<%= image_path('main.png') %>" alt="Main Phoyo" class="header__item header__photo">
    <div class="header__item header__info">
      <h1 class="header__item header--white">Buy One, Give Vision</h1>
      <p class="header__item text--white">In givingthe gift of sight, you're not only helping someone to see again, you're helping to <strong> build stronger communities.</strong></p>
      <div class="header__item logo">
        <%= render 'waldo-logo-white' %>
        <span class="logo__x"> X </span>
        <%= render 'sightsavers' %>
      </div>
    </div>
  </div>
</section>

<section class="photo-slide-section">
  <div class="photo-slide">
   <div class="photo-slide__container">
    <p class="text--blue">We've partnered with <strong>Sightsavers</strong> to further pursue our mission of ending avoidable blindness and championing positive vision.</p>
    <div class="photo-slide__images photo-slide__animation">
      <img src="<%= image_path('image-2.png') %>" alt="Photo" class="photo-slide__image">
      <img src="<%= image_path('image-3.png') %>" alt="Photo" class="photo-slide__image">
      <img src="<%= image_path('image-4.png') %>" alt="Photo" class="photo-slide__image">
      <img src="<%= image_path('image-5.png') %>" alt="Photo" class="photo-slide__image">

      <img src="<%= image_path('image-2.png') %>" alt="Photo" class="photo-slide__image">
      <img src="<%= image_path('image-3.png') %>" alt="Photo" class="photo-slide__image">
      <img src="<%= image_path('image-4.png') %>" alt="Photo" class="photo-slide__image">
      <img src="<%= image_path('image-5.png') %>" alt="Photo" class="photo-slide__image">

      <img src="<%= image_path('image-2.png') %>" alt="Photo" class="photo-slide__image">
      <img src="<%= image_path('image-3.png') %>" alt="Photo" class="photo-slide__image">
      <img src="<%= image_path('image-4.png') %>" alt="Photo" class="photo-slide__image">
      <img src="<%= image_path('image-5.png') %>" alt="Photo" class="photo-slide__image">
    </div>

    <p class="text--blue">Your WALDO purchase will fund life-changing sight correcting procedures for those living with vision-related disabilities.</p>
  </div>
</div>
</section>

<section class="cards-section">
  <div class="cards">

    <div class="card card--active">
      <div class="card__info-top">
        <h1 class="header--white utility-margin-bt">Daily Contact Lenses</h1>
        <p class="text--white">By enrolling onto one of our contract lens subscription plans, with each year that you're with us, you'll be providing a much-needed cataract surgery to an individual who would otherwise be at risk of blindness.</p>
        <div class="dropdown">
          <span class="dropdown__border"></span>
          <div class="dropdown--p text--white">What are cataracts?
            <input type="checkbox" class="dropdown__checkbox" id="dropdown-toggle">

            <label for="dropdown-toggle" class="dropdown__button">
              <span class="dropdown__angle">
                <i class="fas fa-chevron-down margin-left dropdown__angle--down"></i>
                <i class="fas fa-chevron-up margin-left dropdown__angle--up"></i>
              </span>
              <p class="text--white dropdown--text">Cataracts occur when cloudy patches develop in the clear lens inside your eye, stopping light from reaching the back of the eye, and causing blurred or misty vision. If left untreated cataracts can cause total blindness.</p>
            </label>
          </div>
          <span class="dropdown__border"></span>
        </div>
      </div>

      <div class="card__info-bottom">
        <div class="card__icons">
          <span class="card__icons--item">
            <%= render 'daily-contact-lenses-1' %>
            <p class="text--white-sm utility-margin-top-sm">Contact lens sunscription plan</p>
          </span>
          <span class="card__icons--border">
            <span class="border"></span>
            <i class="arrow fas fa-caret-right"></i>
          </span>
          <span class="card__icons--item">
            <%= render 'daily-contact-lenses-2' %>
            <p class="text--white-sm utility-margin-top-sm">Cataract surgery</p>
          </span>
        </div>
        <a href="#" class="btn btn-outline">Get Started</a>
      </div>

    </div>

    <div class="card">

      <div class="card__info-top">
        <h1 class="header--white utility-margin-bt">Blue Light Glasses</h1>
        <p class="text--white">We'll fund the cost of a pair of prescription glasses to someone in need for every pair for glasses sold.</p>
      </div>

      <div class="card__info-bottom">
        <div class="card__icons">
          <span class="card__icons--item">
            <%= render 'blue-light-glasses' %>
            <p class="text--white-sm utility-margin-top-sm">Each Blue Light Glasses purchase</p>
          </span>
          <span class="card__icons--border">
            <span class="border"></span>
            <i class="arrow fas fa-caret-right"></i>
          </span>
          <span class="card__icons--item">
            <%= render 'prescription-glasses' %>
            <p class="text--white-sm utility-margin-top-sm">Prescription Glasses</p>
          </span>
        </div>
        <a href="#" class="btn btn-outline">Browse Frames</a>
      </div>

    </div>

    <div class="card">

      <div class="card__info-top">
        <h1 class="header--white utility-margin-bt">Hydration Drops</h1>
        <p class="text--white">We'll deliver a sight-saving trachoma tretment to somebody in need, with every purchase of our Hydration Drops.</p>

        <div class="dropdown">
          <span class="dropdown__border"></span>
          <div class="dropdown--p text--white">What is trachoma?
            <input type="checkbox" class="dropdown__checkbox" id="dropdown-toggle-right">

            <label for="dropdown-toggle-right" class="dropdown__button">
              <span class="dropdown__angle">
                <i class="fas fa-chevron-down margin-left dropdown__angle--down"></i>
                <i class="fas fa-chevron-up margin-left dropdown__angle--up"></i>
              </span>
              <p class="text--white dropdown--text">Trachoma (truh-KOH-muh) is a bacterial infection that affects your eyes. It's caused by the bacterium Chlamydia trachomatis. Trachoma is contagious, spreading through contact with the eyes, eyelids, and nose or throat secretions of infected people.</p>
            </label>
          </div>
          <span class="dropdown__border"></span>
        </div>

      </div>

      <div class="card__info-bottom">
        <div class="card__icons">
          <span class="card__icons--item">
            <%= render 'hydration-drop' %>
            <p class="text--white-sm utility-margin-top-sm">Each Hydration Drop purchase</p>
          </span>
          <span class="card__icons--border">
            <span class="border"></span>
            <i class="arrow fas fa-caret-right"></i>
          </span>
          <span class="card__icons--item">
            <%= render 'trachoma' %>
            <p class="text--white-sm utility-margin-top-sm">Trachoma treatment</p>
          </span>
        </div>
        <a href="#" class="btn btn-outline">Get Started</a>
      </div>

    </div>
  </div>

  <div class="circles">
    <span class=" circles--item circle-active"></span>
    <span class=" circles--item"></span>
    <span class=" circles--item"></span>
  </div>
</section>

<section class="communities-section">
  <div class="communities">
    <div class="communities__container utility-padding">
      <h1 class="header--underline">Building stronger communities</h1>
      <div class="communities__card utility-padding">
        <div class="communities__box communities__box--1">
          <div class="communities__icon-box">
            <div class="communities__icons">
              <span class="communities__icon"><%= render 'community' %></span>
            </div>
          </div>
          <h3 class="header--blue utility-margin-bt">Individual</h3>
          <p class="text--blue utility-margin-bt">Your WALDO purchase will fund sight-saving products and treatments, which will directly help an individual to complete daily tasks and participate equally in their community, ensuring that no one is left behind.</p>
        </div>

        <div class="communities__box communities__box--2">

          <div class="communities__tree utility-padding">
            <div class="communities__tree--lines">
              <span class="communities__tree--line">&nbsp;</span>
              <span class="communities__tree--line--lg">&nbsp;</span>
              <span class="communities__tree--line--sm communities__tree--line--sm-1">&nbsp;</span>
              <span class="communities__tree--line--sm communities__tree--line--sm-2">&nbsp;</span>
            </div>
            <span class="communities__circle">&nbsp;</span>
          </div>

          <h3 class="header--blue utility-margin-bt">Immediate community</h3>
          <p class="text--blue utility-margin-bt">By helping somebody in need, you'll also be helping the immediate community surrounding this individual to thrive, because in many casesvision is critical to daily life.</p>
          <div class="communities__icon-box">
            <div class="communities__icons">
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
            </div>
          </div>
        </div>

        <div class="communities__box communities__box--3">

          <div class="communities__tree utility-padding">
            <div class="communities__tree--lines">
              <span class="communities__tree--line">&nbsp;</span>
              <span class="communities__tree--line--lg">&nbsp;</span>
              <span class="communities__tree--line--sm communities__tree--line--sm-1">&nbsp;</span>
              <span class="communities__tree--line--sm communities__tree--line--sm-2">&nbsp;</span>
            </div>
            <span class="communities__circle">&nbsp;</span>
          </div>

          <h3 class="header--blue utility-margin-bt">Wider community</h3>
          <p class="text--blue utility-margin-bt">By helping small groups of individuals, the localities that these individuals are a part of will become more supported and more efficient.</p>
          <div class="communities__icon-box">
            <div class="communities__icons">
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
              <span class="communities__icon"><%= render 'community' %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map__container">
  <h1 class="header--underline utility-margin-top">Across the globe</h1>
  <p class="text--blue utility-margin-top">Our partnership with Sightsavers focuses on low and middle income countries in <strong>Africa</strong> and <strong>Asia.</strong></p>
  <img src="<%= image_path('map.png') %>" alt="Map" class="map__container--image utility-margin-top utility-padding">
</section>

<section class="carousel">

  <div class="logo">
    <%= render 'waldo-logo-white' %>
    <span class="logo__x"> X </span>
    <%= render 'sightsavers' %>
  </div>

  <div class="slider utility-padding-bottom-lg">

    <div class="slider__arrow slider__arrow--left" id="left"><i class="fas fa-chevron-left"></i></div>

    <div class="slider__container active">
      <img src="<%= image_path('image-10.png') %>" alt="Slider Photo" class="slider__image">
      <p class="text--white">Meet 5-years-old Langford Mwale, of Petauke, Eastern Zambia, whose cataract surgery, supported by Sightsavers, restored his vision and allowed him to enter school for the first time.</p>
    </div>

    <div class="slider__container">
      <img src="<%= image_path('image-11.png') %>" alt="Slider Photo" class="slider__image">
      <p class="text--white">Meet Kalpana Das, pictured getting her eyes checked at a vision center on Sagar Isaland in Sunderbans. Sightsavers has provided over 1 billion treatments to prevent eye diseases, like River Blindness and Trachoma, which cause severe discomfort.</p>
    </div>

    <div class="slider__container">
      <img src="<%= image_path('image-12.png') %>" alt="Slider Photo" class="slider__image">
      <p class="text--white">Meet Ariane MArie Sangare who is pictured wearing her new glasses at school.</p>
    </div>
    <div class="slider__arrow arrow--right" id="right"><i class="fas fa-chevron-right"></i></div>

  </div>
</section>

</div>
